::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

.map {
    border: 1px solid black;
    width: 800px;
    height: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.text {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}